#content {
  align-items: flex-end;
  display: flex;
  height: auto;
  justify-content: space-around;
  max-width: 1280px;
  width: 100%;
  flex-wrap: wrap;

  #left-banner {
    position: relative;
    width: calc-responsive(200, 332);
    padding: calc-responsive(20, 40);

    #logo {
      height: 100%;
      width: 100%;
    }

    #caption {
      color: $blue;
      font-size: calc-responsive(18, 26);
      font-family: "Ubuntu Mono";
      position: absolute;
      left: 50%;
      bottom: 62%;
    }
  }

  .list-box {
    padding: calc-responsive(20, 40);

    li {
      background-image:
        url($img-path + 'box-contact-bg2.svg'),
        url($img-path + 'box-contact-bg.jpg');
      background-position: center center;
      background-size: cover;
      box-sizing: border-box;
      height: calc-responsive(400 * 300 / 350, 400);
      padding: 34px 36px;
      width: calc-responsive(300, 350);

      &.contact {
        font-family: "Ubuntu Mono";
        font-size: calc-responsive(40, 50);
        letter-spacing: 2px;
        line-height: 1;

        a {
          color: $yellow;
        }

        &:hover {
          background-image: url($img-path + 'box-contact-bg2.svg');
          background-color: $yellow;

          a {
            color: $blue;
          }
        }
      }

      .email {
        margin-bottom: 40px;
      }
    }
  }
}