$font-path: "../../fonts/";

@font-face {
  font-family: "Ubuntu Mono";
  src: url($font-path + "ubuntumono-regular.ttf");
  src: url($font-path + "ubuntumono-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url($font-path + "ubuntumono-bold.ttf");
  src: url($font-path + "ubuntumono-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url($font-path + "ubuntumono-italic.ttf");
  src: url($font-path + "ubuntumono-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url($font-path + "ubuntumono-bolditalic.ttf");
  src: url($font-path + "ubuntumono-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}